<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OpsHub{% endblock %}</title>
    {% block extra_css %}{% endblock %}
</head>
<body>

    <header>
        {% block header %}
            <h1>OpsHub</h1>
        {% endblock %}
    </header>

    <nav>
    {% block nav %}
        <ul>
            <li><a href="{% url 'liste_outils' %}">Outils</a></li>
            <li><a href="{% url 'liste_services' %}">Services</a></li>
            {# <li><a href="{% url 'liste_mots_cles' %}">Mots-clés</a></li> #}
            {# <li><a href="{% url 'liste_feedbacks' %}">Feedbacks</a></li> #}
            <li>
                {% if user.is_authenticated %}
                    Connecté en tant que {{ user.username }}
                    {# <a href="{% url 'logout' %}">Se déconnecter</a> #}
                {% else %}
                    {# <a href="{% url 'login' %}">Se connecter</a> #}
                {% endif %}
            </li>
        </ul>
    {% endblock %}
</nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            <p>OpsHub — Projet de stage MTN Bénin</p>
        {% endblock %}
    </footer>

    {% block extra_js %}{% endblock %}

</body>
</html>