<!-- Detail d'une equipe d'outils. -->
{% extends 'base.html' %}

{% block content %}

{% if request.GET.depuis_outil %}
    <a href="{% url 'detail_outil' request.GET.depuis_outil %}" class="back-link">← Retour à l'outil</a>
{% else %}
    <a href="{% url 'liste_outils' %}" class="back-link">← Retour à la liste des outils</a>
{% endif %}



<div class ="page-centree">
    <div class="detail-card">
        <h1>{{ equipe.nom }}</h1>

        <div class="detail-row">
            <span class="detail-label">Point de contact</span>
            <span>{{ equipe.nom_point_de_contact|default:"—" }}</span>
        </div>

        <div class="detail-row">
            <span class="detail-label">Numero du point de contact</span>
            <span>{{ equipe.contact_point_de_contact|default:"—" }}</span>
        </div>

       <div class="detail-row">
    <span class="detail-label">Mail du point de contact</span>
    <span>
        {% if equipe.mail_point_de_contact %}
            <a href="mailto:{{ equipe.mail_point_de_contact }}">{{ equipe.mail_point_de_contact }}</a>
        {% else %}
            —
        {% endif %}
    </span>
</div>

<div class="detail-row">
    <span class="detail-label">Manager</span>
    <span>{{ equipe.nom_manager|default:"—" }}</span>
</div>

<div class="detail-row">
    <span class="detail-label">Contact manager</span>
    <span>{{ equipe.contact_manager|default:"—" }}</span>
</div>
<div class="detail-row">
    <span class="detail-label">Mail du manager</span>
    <span>
        {% if equipe.mail_manager %}
            <a href="mailto:{{ equipe.mail_manager }}">{{ equipe.mail_manager }}</a>
        {% else %}
            —
        {% endif %}
    </span>
</div>
</div>
{% endblock %}