{% extends 'base.html' %}
{% load static%}

{% block content %}
    <h1>Expériences Membres</h1>

    <div class="grandes-cards">
        <div class="grande-card">
            <h2>Feedback</h2>
            <a href="{% url 'liste_feedbacks' %}">Voir la liste des Feedbacks</a>
        </div>

        <div class="grande-card">
            <h2>Plainte</h2>
            <a href="{% url 'liste_plaintes' %}">Voir la liste des Plaintes</a>
        </div>

        <div class="grande-card">
            <h2>Recommandation</h2>
            <a href="{% url 'liste_recommandations' %}">Voir la liste des Recommandations</a>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
<style>

body{
    background:#f4f6f9;
    

}

h1{
    text-align:center;
    font-size:32px;
    color:#222;
    margin-bottom:40px;
    font-weight:700;
}

.grandes-cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:30px;
}

.grande-card{
    width:300px;
    background:white;
    border-radius:18px;
    padding:35px 25px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
    border-top:6px solid #f8c305;
}

.grande-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 40px rgba(0,0,0,.15);
}

.grande-card h2{
    font-size:28px;
    color:#222;
    margin-bottom:20px;
}

.grande-card a{
    display:inline-block;
    margin-top:10px;
    padding:12px 22px;
    background:#f6bd14;
    color:#111;
    text-decoration:none;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.grande-card a:hover{
    background:#e6b800;
    color:white;
}

@media(max-width:768px){
    .grande-card{
        width:100%;
        max-width:350px;
    }
}

</style>
{% endblock %}